.Navigation {
  background: #000000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  line-height: 60px;
  padding: 0 2rem;
  font-size: 1.5rem;
  z-index: 99;
  .backBtn, a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    &:hover {
      color: #adadad;
    }
    svg {
      width: 1.5rem;
      height: 100%;
    }
  }
}
